<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Wambl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ADFFA2991CDC10CE0036B06B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADFFA2B01CDC10CF0036B06B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADFFA2BB1CDC10CF0036B06B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
